<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container my-3">


        <form method="POST" class="post-form" action="">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">사용자 이름</label>
                <input type="text" class="form-control" name="username" id="username" value="{{loginForm.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="username">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password" value="{{loginForm.password.value|default_if_none:'' }}">
            </div>

            <div class="margin-bottom:10px" style="display:{{checkError}}">
                <strong style="color:red">잘못된 회원정보 입니다. 올바른 회원 정보를 입력하거나 회원가입을 진행해주세요.</strong>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top:5px">로그인</button>
        </form>
        <br>
        <a class="btn btn-primary" role="button" aria-disabled="true" href="{% url 'signup' %}" type="">회원가입 하러가기</a>
    </div>
<!--asd-->
    {% endblock %}
</body>
</html>