<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    {% load static %}
    {% include "base.html" %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
{% include "base.html" %}
</head>
<body class="login-bg scroll-none">
{% include "top.html" %}
{% block content %}
<div class="container my-3">
    <form method="POST" class="post-form" action="">
        {% csrf_token %}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="text-orange" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center text-form">

                            <div class="mb-md-5 mt-md-4 pb-5 login-font">
                                <h2 class="fw-bold mb-2 text-uppercase" type="submit">Login</h2>
                                <p class="text-orange-50 mb-5">Please enter your login and password!</p>
                                <div class="form-outline form-white mb-4 form-group">
                                    <input type="text" class="form-control form-control-lg" name="username"
                                           id="username" value="{{loginForm.username.value|default_if_none:'' }}">
                                    <label for="username">ID</label>
                                </div>

                                <div class="form-outline form-white mb-4 form-group">
                                    <input type="password" class="form-control form-control-lg" name="password"
                                           id="password" value="{{loginForm.password.value|default_if_none:'' }}">
                                    <label for="username">Password</label>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                                <div class="margin-bottom:10px" style="display:{{checkError}}">
                                    <strong style="color:red">잘못된 회원정보 입니다. 올바른 회원 정보를 입력하거나 회원가입을 진행해주세요.</strong>
                                </div>


                            </div>

                            <div>
                                <p class="mb-0 btn"><a class="text-white-50 fw-bold" role="button"
                                                       href="{% url 'signup' %}">Sign Up</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endblock %}
{% include "footer.html" %}
</body>
</html>