<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>나의 드래곤볼</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% include "base.html" %}
</head>
<body>
    {% include "top.html" %}
{% load static %}
{% block content %}
    <!--마이페이지 처리 이곳은 내정보-->
    <h1>유저정보</h1>
    <table class="table">
        <tr>
            <td>번호</td>
            <td>{{ request.user.id}}</td>
        </tr>
        <tr>
            <td>아이디</td>
            <td>{{ request.user.username}}</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>{{ request.user.email}}</td>
        </tr>
        <tr>
            <td>가입일자</td>
            <td>{{ request.user.date_joined}}</td>
        </tr>
        <tr>
            <td>마지막로그인시간</td>
            <td>{{ request.user.last_login}}</td>
        </tr>
    </table>

    <!--마이페이지 처리 이곳은 내정보 끝-->
    <!--구독 상품 위치 추척기-->
    <h1>구독상품 위치추적기</h1>
    {% if stars %}

    <div class="canvas">
        <a href="/myguduck/?page=1">
        <div class="radar">
            <div class="up"></div>
            <div class="down"></div>
            <div class="left"></div>
            <div class="right"></div>
        {% for star in stars %}
                <div class="ball-1" style="top: {{ stars.random | random }}%; left: {{ stars.random | random }}%"></div>
        {% endfor %}
        </div>
        </a>
    </div>

    {% else %}
    <h1 class="display-6"> 구독내역이 없습니다. </h1>
    {% endif %}
    <!--구독 상품 위치 추척기-->
    <h1>나의 푸쉬알림 로그</h1>
    <h1>탈퇴하기</h1>
    <h1 onclick="location.href = '{% url 'logout' %}'">로그아웃하기</h1>
{% include "footer.html" %}
</body>
</html>
{% endblock %}
{% include "footer.html" %}