<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
    <title>회원가입</title>
    {% include "base.html" %}
</head>
<body class="login-bg scroll-none">
{% include "top.html" %}
{% block content %}
<div class="container my-3">
    <form method="POST" class="post-form" action="">
        {% csrf_token %}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="text-white" style="border-radius: 1rem;">
                        <div class="p-5 text-center">
                                                 <div class="mb-md-5 mt-md-4 pb-5">
                                                        <h2 class="fw-bold mb-2 text-uppercase" type="submit">Sign up</h2>
                                <p class="text-orange-50 mb-5">Please enter your login and password!</p>

                                <div class="form-outline form-white mb-4 form-group">
                                    <input type="text" class="form-control form-control-lg" name="username"
                                           id="username" value="{{signupForm.username.value|default_if_none:'' }}">
                                    <label for="username" class="signup-label">ID</label>
                                </div>

                                <div class="form-outline form-white mb-4 form-group">
                                    <input type="password" class="form-control form-control-lg" name="password1"
                                           id="password1" value="{{signupForm.password1.value|default_if_none:'' }}">
                                    <label for="username" class="signup-label">Password</label>
                                </div>

                                <div class="form-outline form-white mb-4 form-group">
                                    <input type="password" class="form-control form-control-lg" name="password2"
                                           id="password2" value="{{signupForm.password2.value|default_if_none:'' }}">
                                    <label for="username" class="signup-label">Password reconfirm </label>
                                </div>
                                <div class="form-outline form-white mb-4 form-group">
                                    <input type="text" class="form-control form-control-lg" name="email"
                                           id="email" value="{{signupForm.email.value|default_if_none:'' }}">
                                    <label for="email" class="signup-label">email</label>
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign up</button>

                            </div>

                            <div>
                                <p class="mb-0 btn"><a class="text-white-50 fw-bold" role="button"
                                                       href="{% url 'login' %}">Log in</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                   </div>
    </form>
{% include "footer.html" %}
    <!--    {% endblock %}-->
</body>
</html>