@media (max-width: 1045px) {
  canvas{
    height:125px !important;
  }
}
@media (min-width: 1045px) {
  canvas{
    height:200px !important;
    width:400px !important;
  }
}

@media (max-width: 900px) {
  canvas{
    height:75px !important;
    width:125px !important;
  }
}

@media (max-width: 820px) {
  canvas{
    display:none !important;;
  }
  .chart-display{
    display: inline !important;
}
}

.chart-display{
    display:none;
}