.login-bg{
/* fallback for old browsers */
background: #198754;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(110, 203, 17, 1), rgba(88, 203, 17, 1));
background: -webkit-linear-gradient(to right, rgb(145 255 34), rgb(218 224 0));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(110, 203, 17, 1), rgba(88, 203, 17, 1))
background: linear-gradient(to right, rgb(145 255 34), rgb(218 224 0))
}

.scroll-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.scroll-none{
scroll: no;
}

.login-font{
  color: #f77625;
}

.text-center{
    background-color: #ffb700;
    border-radius: 1rem;
    border: none;
  }

.text-orange-50{
    color: rgb(197, 93, 14)
}

.text-uppercase{
    color: white;
}

.signup-label{
    color: #f77625;
}

.main-text-center{
    background-color:white;
}

.main-btn-margin{
   margin-left: 1rem;
    margin-right: 1rem;
}

.bg-color{
    background-color: #198754;
}

.sb-topnav{

}

.nav-font{
   font-weight: 900;
   font-size: 14pt;
   font-family: 'Poor Story', cursive;
   color: rgb(235 60 60 / 86%);
   transition: 0.5s;
}

.nav-font:hover{
    color: rgb(43 100 75 / 86%);
}

.top-category{
    text-decoration: none;
}
.top-thead-border{
    border: none;
}

.table{
    margin-bottom: 0;
}

.top-category-a{
    text-decoration: none;
    color: rgb(235 60 60 / 86%);
    font-size: 14pt;
    transition: 0.5s;
    font-family: 'Poor Story', cursive;
}

.top-category-a:hover{
    color: rgb(43 100 75 / 86%);
}

.top-category-a:link{ text-decoration: none; }
.top-category-a:visited{ text-decoration: none; }

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
