<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>드래곤볼 리스트</title>
    {% include "base.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'list-style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
    </style>
</head>
<body>
{% include "top.html" %}
{% load humanize %}
{% block content %}
{% if posts %}
<div>
    <table class="table">
        <thead>
        <tr style="white-space: nowrap;">
            <th class="col-1 col-sm-1 col-md-2" scope="col">name</th>
            <th class="col-1 col-sm-1 col-md-2" scope="col">imgsrc</th>
            <th class="col-1 col-sm-1 col-md-1" scope="col">현재가</th>
            <th class="col-1 col-sm-1 col-md-1" scope="col">최저가</th>
            <th class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" scope="col">구독하기</th>
            <th class="col-1 col-sm-1 col-md-1" scope="col">차트</th>
        </tr>
        </thead>
        {% for post in posts %}
        <tr class="list-tr">
            <td class="">{{ post.name }}</td>
            <td class="">
                <div class="myguduck-div-imgarea" style="">
                    {% if post.imgsrc %}
                    <img class="list-img-thumnail" src="{% get_media_prefix %}{{ post.imgsrc }}"/>
                    {% else %}
                    <img src="{% get_media_prefix %}/noimage.png" class="img-fluid"/>
                    {% endif %}
                </div>
            </td>
            <td><p class="animate__fadeInDown price">{{ post.price|intcomma }}</p></td>
            <td><p class="animate__fadeInDown Low_price">{{ post.Low_price|intcomma }}</td>
            <td>
                <div class="budgecard">
                    <a href="/like/{{ post.id }}?page={{ posts.in_page }}" class="notification post-meta">
                        {% if request.user in post.like.all %}
                        <i class="fa-solid fa-bell"></i>
                        <span id="like_count" class="badge animate__fadeInDown like_count_style">{{ post.like.count }}</span>
                        {% else %}
                        <i class="fa-solid fa-bell"></i>
                        <spen id="like_count" class="badge animate__fadeInDown like_count_style">{{ post.like.count }}</spen>
                        {% endif %}
                    </a>
                </div>
            </td>
            <td class="">
                {% if post.week_prices %}
                <div class="grid" style="">
                    <canvas id="chart_{{post.id}}"></canvas>
                    <script>
                            const labels_{{post.id}} = [ {% for week_price in post.week_prices %}'{{ week_price.time_w }}',{% endfor %}];
                            const data_{{post.id}} = {
                                labels: labels_{{post.id}},
                                datasets: [{ label: 'product_{{post.id}}',backgroundColor: 'rgb(255, 99, 132)',borderColor: 'rgb(255, 99, 132)',
                                data: [{% for week_price in post.week_prices %} {{ week_price.value }},{% endfor %}],}]
                            };
                            const config_{{post.id}} = { type: 'line',data: data_{{post.id}},
                            options: {
                                responsive : true,
                                plugins: { legend: { display: false   } } }
                            };
                            const chart_{{post.id}} = new Chart(document.getElementById('chart_{{post.id}}'),config_{{post.id}});



                    </script>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <!-- 페이징처리 시작 -->
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            <!-- 이전페이지 -->
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ posts.previous_page_number }}">이전</a>
                <!-- href로 뎁스 설정 -->
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in posts.paginator.page_range %}
            {% if page_number == posts.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ posts.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>
{% endif %}
{% include "footer.html" %}
</body>
</html>
{% endblock %}