<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>드래곤볼 리스트</title>
    {% include "base.html" %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
{% include "top.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    {% if posts %}
          <div>
              <table  class="table">
                  <thead>
                  <tr>
                      <th scope="col">category</th>
                      <th scope="col">name</th>
                      <th scope="col">imgsrc</th>
                      <th scope="col">현재가</th>
                      <th scope="col">최저가</th>
                      <th scope="col">구독하기</th>
                      <th scope="col">차트</th>
                  </tr>
                  </thead>
        {% for post in posts %}
                  <tr>
                      <td>{{ post.category }}</td>
                      <td>{{ post.name }}</td>
                      <td>
                          {% if post.imgsrc %}
                            <img src="{% get_media_prefix %}{{ post.imgsrc }}" class="img-fluid"/>
                          {% else %}
                            <img src="{% get_media_prefix %}/noimage.png" class="img-fluid"/>
                          {% endif %}
                      </td>
                      <td>{{ post.price|intcomma }}</td>
                      <td>{{ post.Low_price|intcomma  }}</td>
                      <td><a class="post-meta" href="/like/{{ post.id }}?page={{ posts.in_page }}">
                                {% if request.user in post.like.all %}
                                <spen id="like_count">{{ post.like.count }}</spen>
                                {% else %}
                                <spen id="like_count">{{ post.like.count }}</spen>
                                {% endif %}
                            </a>
                      </td>
                      <td>
{% if post.week_prices %}
                          {% for week_price in post.week_prices %}
                          {{ week_price }}
                          {% endfor %}
<canvas id="chart_{{post.id}}"></canvas>
<script>
const labels_{{post.id}} = [ '월', '화',  '수',  '목',  '금',  '토', ];
const data_{{post.id}} = {
    labels: labels_{{post.id}},
    datasets: [{ label: 'product_{{post.id}}',backgroundColor: 'rgb(255, 99, 132)',borderColor: 'rgb(255, 99, 132)',
    data: [{% for week_price in post.week_prices %} 10,{% endfor %}],}]
};
const config_{{post.id}} = { type: 'line',data: data_{{post.id}},options: {plugins: { legend: { display: false   } } } };
const chart_{{post.id}} = new Chart(document.getElementById('chart_{{post.id}}'),config_{{post.id}});
</script>

                          {% endif %}
                      </td>
                  </tr>
        {% endfor %}
            </table>
    <!-- 페이징처리 시작 -->
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            <!-- 이전페이지 -->
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ posts.previous_page_number }}">이전</a>
                <!-- href로 뎁스 설정 -->
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in posts.paginator.page_range %}
            {% if page_number == posts.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="/list/{{ posts.category }}?page={{ posts.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
          </div>
    {% endif %}
</body>
</html>
{% endblock %}