<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>

  <style>
  .top {
    margin-top: 6px;
  }
  .contents{
    width: 170px
  }
</style>

</head>
<body>
  {% extends "base.html" %}
  {% block content %}
<nav class="navbar bg-light">
  <div class="container-fluid">
     <div class="col-12"><input type="button" class="btn btn-primary float-right" value="로그인 하러가기"  onclick = "location.href = '{% url 'login' %}'"></div>
  </div>
</nav>

  <div class="row text-center">
    <div class="col-md-12" style="margin-top: 40px">
      <h1>임시 메인화면</h1>
    </div>

    <div class="col-md-12 top">
      <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'login' %}" type="">cpu 보러가기</a>
    </div>

    <div class="col-md-12 top">
      <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'login' %}" type="">메인보드 보러가기</a>
    </div>

    <div class="col-md-12 top">
      <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'login' %}" type="">램 보러가기</a>
    </div>

    <div class="col-md-12 top">
      <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'login' %}" type="">ssd 보러가기</a>
    </div>

    <div class="col-md-12 top">
      <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'login' %}" type="">gpu 보러가기</a>
    </div>

    <div class="col-md-12 top">
      <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'login' %}" type="">파워 보러가기</a>
    </div>

  </div>
  {% endblock %}

</body>
</html>