<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    {% load static %}
    {% include "base.html" %}
    <link rel="stylesheet" href="{% static 'dragonball.css'%}">
</head>
<body class="bg-color">
{% include "top.html" %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-between">
	<div class="row  ">
		<div class="col-12">
			<div class="row wrapper">
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-2" style="margin-top:7rem;">
                    <div class="dragon-ball main-btn-margin main-btn-margin" style="margin-top:1rem;">
                        <a class="main-dragonball-text" aria-disabled="true" href="{% url 'list' category=1 %}" type=""
                           style="">
                            <img class="img-dragonball-cpu" src="{% static 'img/img-dragonball-cpu.png'%}" style="">
                            cpu 보러가기</a>
                        <div class="dragon-ball__oval-shadow"></div>
                        <div class="dragon-ball__1star-container">
                            <div class="star star__top-left"></div>
                        </div>
                        <div class="dragon-ball__btm-shadow"></div>
                    </div>
                </div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-2" style="margin-top:7rem;">
                    <div class="dragon-ball main-btn-margin main-btn-margin" style="margin-top:1rem;">
                        <a class="main-dragonball-text" aria-disabled="true" href="{% url 'list' category=3 %}" type=""
                           style="">
                            <img class="img-dragonball-ram" src="{% static 'img/img-dragonball-ram.png'%}" style="">
                            램 보러가기</a>
                        <div class="dragon-ball__oval-shadow"></div>
                        <div class="dragon-ball__2star-container">
                            <div class="star star__top-left"></div>
                            <div class="star star__top-right"></div>
                        </div>
                        <div class="dragon-ball__btm-shadow"></div>
                    </div>

                </div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-2" style="margin-top:7rem;">
                    <div class="dragon-ball main-btn-margin main-btn-margin" style="margin-top:1rem;">

                        <a class="main-dragonball-text" aria-disabled="true" href="{% url 'list' category=2 %}" type=""
                           style="position: absolute; z-index: 9999;">
                            <img class="img-dragonball-mainboard" src="{% static 'img/img-dragonball-mainboard.png'%}" style="">
                            메인보드 보러가기
                        </a>

                        <div class="dragon-ball__oval-shadow"></div>
                        <div class="dragon-ball__3star-container">
                            <div class="star star__top-left"></div>
                            <div class="star star__top-right"></div>
                            <div class="star star__btm-right" style="bottom: 11px; right: -12px;"></div>
                        </div>
                        <div class="dragon-ball__btm-shadow"></div>
                    </div>
                </div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-2" style="margin-top:5rem;">
                    <div class="dragon-ball main-btn-margin main-btn-margin" style="margin-top:1rem;">

                        <a class="main-dragonball-text" aria-disabled="true" href="{% url 'list' category=4 %}" type=""
                           style="position: absolute; z-index: 9999;">
                            <img class="img-dragonball-ssd" src="{% static 'img/img-dragonball-ssd.png'%}" style="">
                            SSD 보러가기
                        </a>

                        <div class="dragon-ball__oval-shadow"></div>
                        <div class="dragon-ball__4star-container">
                            <div class="star star__top-left"></div>
                            <div class="star star__top-right"></div>
                            <div class="star star__btm-right"></div>
                            <div class="star star__btm-left"></div>
                        </div>
                        <div class="dragon-ball__btm-shadow"></div>
                    </div>
                </div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-2" style="margin-top:5rem;">
                    <div class="dragon-ball main-btn-margin main-btn-margin" style="margin-top:1rem;">
                        <a class="main-dragonball-text" aria-disabled="true" href="{% url 'list' category=5 %}" type=""
                           style="position: absolute; z-index: 9999;">
                            <img class="img-dragonball-gpu" src="{% static 'img/img-dragonball-gpu.png'%}" style="">
                            GPU 보러가기
                        </a>

                        <div class="dragon-ball__oval-shadow"></div>
                        <div class="dragon-ball__5star-container">
                            <div class="star star__top-left"></div>
                            <div class="star star__top-right"></div>
                            <div class="star star__btm-right"></div>
                            <div class="star star__btm-left"></div>
                            <div class="star star__btm-left5"></div>
                        </div>
                        <div class="dragon-ball__btm-shadow"></div>
                    </div>
                </div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-2" style="margin-top:5rem;">
                    <div class="dragon-ball main-btn-margin main-btn-margin" style="margin-top:1rem;">
                        <a class="main-dragonball-text" aria-disabled="true" href="{% url 'list' category=6 %}" type=""
                           style="position: absolute; z-index: 9999;">
                            <img class="img-dragonball-power" src="{% static 'img/img-dragonball-power.png'%}" style="">
                            파워 보러가기
                        </a>
                        <div class="dragon-ball__oval-shadow"></div>
                        <div class="dragon-ball__6star-container">
                            <div class="star star__top-left"></div>
                            <div class="star star__top-right"></div>
                            <div class="star star__btm-right"></div>
                            <div class="star star__btm-right6"></div>
                            <div class="star star__btm-left"></div>
                            <div class="star star__btm-left6"></div>
                        </div>
                        <div class="dragon-ball__btm-shadow"></div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}
</body>
</html>