<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main</title>

<style>
.top {
margin-top: 6px;
}
.contents{
width: 170px
}
</style>

</head>
<body>
  {% extends "base.html" %}
  {% block content %}

      {% if user.is_authenticated %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">찾아라 드래곤볼</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:17px"><strong>{{user.username}}</strong>&nbsp&nbsp</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">마이페이지</a></li>
                        <li><a class="dropdown-item" href="#!">나의 구독</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <button class="btn btn-danger" style="text-align:center; width:100%" onclick = "location.href = '{% url 'logout' %}'"> 로그아웃 </button>
                    </ul>
                </li>
            </ul>
        </nav>
      {% else %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">찾아라 드래곤볼</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <button class="btn btn-primary ms-auto ms-md-0 me-3 me-lg-4" style="text-align:center;" onclick = "location.href = '{% url 'login' %}'"> 로그인 하러가기 </button>
        </nav>
      {% endif %}





      <div class="row text-center" >
        <div class="col-md-12" style="margin-top: 40px">
          <h1>임시 메인화면</h1>
        </div>

        <div class="col-md-12 " style="margin-top: 5px">
          <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'list' category=1 %}" type="">cpu 보러가기</a>
        </div>

        <div class="col-md-12" style="margin-top: 5px">
          <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'list' category=2 %}" type="">메인보드 보러가기</a>
        </div>

        <div class="col-md-12 " style="margin-top: 5px">
          <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'list' category=3 %}" type="">램 보러가기</a>
        </div>

        <div class="col-md-12 " style="margin-top: 5px">
          <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'list' category=4 %}" type="">ssd 보러가기</a>
        </div>

        <div class="col-md-12 " style="margin-top: 5px">
          <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'list' category=5 %}" type="">gpu 보러가기</a>
        </div>

        <div class="col-md-12 " style="margin-top: 5px">
          <a class="btn btn-primary contents" role="button" aria-disabled="true" href="{% url 'list' category=6 %}" type="">파워 보러가기</a>
        </div>
      </div>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBaqn2VoaA4-0nAQ55DX3FyF8hY92b3Zh4",
    authDomain: "qrqr-c2114.firebaseapp.com",
    projectId: "qrqr-c2114",
    storageBucket: "qrqr-c2114.appspot.com",
    messagingSenderId: "748054356351",
    appId: "1:748054356351:web:56b9b76bfc555b6c033a4a",
    measurementId: "G-687SWR2XS2"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const messaging = getMessaging(app);
</script>
  {% endblock %}

</body>
</html>