{% if user.is_authenticated %}
<nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">찾아라 드래곤볼</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><iclass="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" style="font-size:17px"><strong>{{user.username}}</strong>&nbsp&nbsp</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">마이페이지</a></li>
                <li><a class="dropdown-item" href="/myguduck/?page=1">나의 구독</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <button class="btn btn-danger" style="text-align:center; width:100%"
                        onclick="location.href = '{% url 'logout' %}'"> 로그아웃
                </button>
            </ul>
        </li>
    </ul>
</nav>
{% else %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">찾아라 드래곤볼</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="" href="#!"><i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>
    <!-- Navbar-->
    <button class="btn btn-primary ms-auto ms-md-0 me-3 me-lg-4" style="text-align:center;"
            onclick="location.href = '{% url 'login' %}'"> 로그인 하러가기
    </button>
</nav>
{% endif %}