<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 드래곤볼</title>
    {% load static %}
    {% include "base.html" %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
{% include "top.html" %}
{% block content %}
{% if lists %}

<div class="container-fluid d-flex justify-content-center " style="margin-top: 70px;">
    <div class="row">
        <div class="col-12" style="">
            <div class="row wrapper justify-content-center">
                <!--나의 구독페이지 정보시작 -->
                {% for list in lists %}
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 myguduck-div-title myguduck-div-imgarea" style="">
                    <a class="post-meta" href="/unlike/{{ list.pid.id }}?page={{ lists.in_page }}">
                        <span id="like_count">
                            <button type="button" class="btn btn-outline-danger myguduck-btn-cancel">해지하기
                        </button>
                        </span>
                    </a>
                    <!--상품이미지 db에서 가져오는부분 시작-->
                    {% if list.pid.imgsrc %}
                    <img src="{% get_media_prefix %}{{ list.pid.imgsrc }}" class="img-fluid myguduck-img-thumbnail"/>
                    {% else %}
                    <img src="{% get_media_prefix %}/noimage.png" class="img-fluid myguduck-img-thumbnail"/>
                    {% endif %}
                    <!--상품이미지 db에서 가져오는 부분 끝-->
                    <div class="myguduck-div-name" style=""><h5 class="myguduck-h5-thumbnail">{{ list.pid.name }}</h5>
                    </div>
                    <h5 class="myguduck-h5-guduckdate">구독일자</h5>
                    <p class="myguduck-p-guduckdate">{{ list.create_date }}</p>
                </div>
                {% endfor %}
                <!--나의 구독페이지 정보 끝-->
            </div>
        </div>
    </div>
</div>
</div>


<!--레이아웃 끝-->

<!-- 페이징처리 시작 -->
<div id="paging">
    <ul class="pagination justify-content-center" style="margin-top: 2rem;">
        <!-- 이전페이지 -->
        {% if lists.has_previous %}
        <li class="page-item">
            <a class="page-link" href="/myguduck/?page={{ lists.previous_page_number }}">이전</a>
            <!-- href로 뎁스 설정 -->
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in lists.paginator.page_range %}
        {% if page_number == lists.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="/myguduck/?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/myguduck/?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if lists.has_next %}
        <li class="page-item">
            <a class="page-link" href="/myguduck/?page={{ lists.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- 페이징처리 끝 -->
</div>
{% else %}
<h1 class="display-6"> 구독내역이 없습니다. </h1>
{% endif %}
{% include "footer.html" %}
</body>
</html>
{% endblock %}
{% include "footer.html" %}