<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 드래곤볼</title>
    {% include "base.html" %}
</head>
<body>
    {% include "top.html" %}
{% load static %}
{% block content %}
    {% if lists %}
          <div>
              <table  class="table">
                  <thead>
                  <tr>
                      <th scope="col">순번</th>
                      <th scope="col">카테고리</th>
                      <th scope="col">상품명</th>
                      <th scope="col">이미지</th>
                      <th scope="col">구독일자</th>
                      <th scope="col">해지하기</th>
                   </tr>
                  </thead>
        {% for list in lists %}
                  <tr>
                      <td>{{ list.id }}</td>
                      <td>{{ list.pid.category }}</td>
                      <td>{{ list.pid.name }}</td>
                      <td>
                          {% if list.pid.imgsrc %}
                            <img src="{% get_media_prefix %}{{ list.pid.imgsrc }}" class="product_img"/>
                          {% else %}
                            <img src="{% get_media_prefix %}/noimage.png" class="product_img"/>
                          {% endif %}
                      </td>
                       <td>{{ list.create_date }}</td>
                      <td>
                          <a class="post-meta" href="/unlike/{{ list.pid.id }}">
                              <spen id="like_count">해지하기</spen>
                          </a>
                      </td>
                  </tr>
        {% endfor %}
            </table>
          </div>
    {% else %}
    <h1 class="display-6"> 구독내역이 없습니다. </h1>
    {% endif %}

</body>
</html>
{% endblock %}
{% include "footer.html" %}